.unload {
    display: grid;
    font-size: 14px;
    line-height: 1.2;
    position: relative;
    transform: scale(1);
    grid-auto-rows: min-content;
}

.unload-details {
    height: fit-content;
    width: 100%;
    top: 5px;
    position: sticky;
    box-sizing: border-box;
    align-self: start;
    grid-column: 2;
    grid-row: 1 / 3;
}

.unload-instructions {
    grid-column: 1;
}

@include active-by("xslg") {
    .unload {
        grid-template-columns: 1fr;
        grid-auto-flow: row dense;
    }

    .unload-instructions {
        grid-row: 1;
        margin-bottom: 15px;
    }

    .unload-details {
        grid-column: 1;
        grid-row: 2;
        margin-bottom: 15px;
        top: 10px;
    }
}

@include start-at("xslg") {
    .unload {
        grid-template-columns: 35% 1fr;
        gap: 15px;
    }
}