.unload {
    display: grid;
    font-size: 14px;
    line-height: 1.2;
    position: relative;
    transform: scale(1);
}

.unload div:last-child {
    height: fit-content;
}

@include active-by("xslg") {
    .unload {
        grid-template-columns: 1fr;
        grid-auto-flow: row dense;
    }

    .unload div:first-child {
        order: 2;
    }

    .unload div:last-child {
        order: 1;
    }
}

@include start-at("xslg") {
    .unload {
        grid-template-columns: 35% 1fr;
        gap: 15px;
    }
}